body {
    height: 750px;
    /* background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#FFFFFF, #2980B9); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
}
canvas {
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 50px;
    background-color: white;
}
.btn {
    width: 50px;
    height: 50px;
    background: transparent;
    color: white;
    font-size: 22px;
    transition: background 0.3s;
    box-shadow: none;
    border: 0;			
}

/*.btn2{
    background: orange;
    color: white;
}
.btn3{
    background: #dfdfdf;
    color: black;
}
.btn:hover {
    background: #dddddd;
    color: #FFFFFF;
} */
